
	* {
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;
		}
	h1 {
		margin-bottom: 15px;
		margin-top: 15px;
		text-align: center;
	}
	.container {
		background-color: gray;
		width: 90%;
		height: 200px;
		position: relative;
		padding: 0px, 10px, 0px, 10px;
		margin: 10px;
		border: 2px solid black;
		font-style: italic;
		overflow: auto;
	}
	h2 {
  	position: relative; 
  	overflow: auto ; 
  	border: 2px solid black;
  	margin-top: 0;
  	margin-left: 60%;
  	top: 0px;
  	right: 0px;
  	font-weight: bold;
  	text-align: center; 
  	font-style: italic;
    }
	p {
		width: 90%;
		margin-left: 10px;
		position: relative;
		overflow: auto;
	}
	#Chicken {
		background-color: pink;
	}
	#Beef {
		background-color: maroon;
		color: white;
	}
	#Sushi {
		background-color: yellow;
	}
	/*simple responsive framework*/
	.row {
		width: 100%;
		
	}
	/********Large device only********/
	@media (min-width: 992px){
	.col-lg-4 {
		float: left;
		width: 33.33%;
	}
    }
    /********medium device only********/
	@media (min-width: 768px) and (max-width: 991px){
	.col-md-6 {
		float: left;
		width: 50%;
	}
	.col-md-12 {
		float: left;
		width: 100%;
	}
	}
